<button (click)="getItem()">Get Items</button> {{getItemCount()}}
<button (click)="updateItem(currentItem!)">Update Item</button>
<button (click)="deleteItem(currentItem!)">Delete Item</button>
<table [border]="1">
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>State</th>
    <th>Create Time</th>
    <th>Update Time</th>
  </tr>
  <tr #item (click)="clickItem(item)" *ngFor="let item of data">
    <td> {{item.todoId}} </td>
    <td> {{item.itemDescription}}</td>
    <td> {{item.itemCompleted}}</td>
    <td> {{item.itemCreatetime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
    <td> {{item.itemUpdatedtime| date : 'yyyy-MM-dd HH:mm:ss'}}</td>
  </tr>
</table>
Current Item: <pre>{{ currentItem | json }}</pre>
